@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.form_name {
    background-color: rgb(36, 36, 36);
}
p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}
.main_text{
    display: table;
    height: 100px;
    width: 50%;
    text-align: center;
    border: 2px solid rgb(15, 15, 15);
}
span {
   display: table-cell;
   vertical-align: middle;
   padding: 10px;
  
}
.links {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.links-to-groups a {
    display: inline-block;
    color: #9d9d9d;
}
footer {
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.links-of-posts{
    padding-left: 10%;
    padding-top: 10%;

}