@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    display: block;
    margin: 8px;
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.form_name {
    background-color: rgb(36, 36, 36);
}
p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}
.main_text{
    display: table;
    height: 100px;
    width: 50%;
    text-align: center;
    border: 2px solid rgb(15, 15, 15);
}
span {
   display: table-cell;
   vertical-align: middle;
   padding: 10px;
  
}
.links {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  footer {
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
.links-to-groups a {
    display: inline-block;
    color: #9d9d9d;
}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav-links li {
    float: left;
}
  
.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.nav-links li a:hover {
    background-color: #111;
}

@media (min-width: 40rem) {
    p h1 {
      width: 50%;
    }
  }
  @media (min-width: 56rem) {
    p h1 {
      width: 33.3333%;
    }
  }